/* Access id */

#myHeading {
    font-size: 100px;
}

/* Access class */

.center {
    text-align: center;
    color: crimson;
}

* {
    text-align: end;
    color: blue;
    font-size: 50px;
}

/* Descendant = all descendants will be styled (a child of) */

ol li {
    color: magenta;
}

/* Child selector = any direct descendants will be styled */

div > h1 {
    color: brown;
}

/* Adjacent selectors = siblings next to a selected element */

ol + p {
    color: red;
}

/* Preceding siblings = match ALL siblings of a selected element */

h3 ~ p {
    color: olive;
}
