a:link {
    color: orange;
}

a:visited {
    color: rgb(255, 0, 0);
}

a:hover {
    color: #dbbee4;
}

a:active {
    color: blue;
}

/* Look for an exact match */
img[src="../html/res/earth.jpg"] {
    width: 500px;
    height: 500px;
}

/* find an element that ends with a specific value */
[src$=".jpg"] {
    height: 400px;
}

/* starts with = ^= */
a[href^="mailto"] {
    color: green;
}

/* Contains = *= */
[id*="stuff"] {
    color: orangered;
}